In [1]:
import pandas as pd

In [7]:
#get params
id_columns = "ID"


features = pd.read_csv('C:\\Users\\Bruno\\Desktop\\git\\ModelingMLKedroPipeline\\santanderkaggle\\data/03_models/feature_to_keep.csv')
df = pd.read_csv("test.csv")
# Convert the DataFrame to a list
features = features['0'].values.tolist()

# Create a boolean mask that checks if each column name is in 'features_set'
column_mask = df.columns.isin(features)

In [11]:
# Use the boolean mask to select the desired columns
df_validation = df.set_index(id_columns)

In [16]:
# Use the boolean mask to select the desired columns
df_validation[features]

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var40_efect_ult1,imp_op_var41_efect_ult1,ind_var5_0,ind_var5,ind_var8_0,ind_var12_0,...,num_var43_emit_ult1,num_var43_recib_ult1,num_trasp_var11_ult1,num_var45_hace3,saldo_medio_var5_hace2,saldo_medio_var5_hace3,saldo_medio_var5_ult3,saldo_medio_var8_hace2,saldo_medio_var8_hace3,var38
ID,,,,,,,,,,,,,,,,,,,,,
2,2,32,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,0,6.0,2.43,4.80,0.0,0.0,40532.100000
5,2,35,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,6,3.0,2.55,2.85,0.0,0.0,45486.720000
6,2,23,0.0,0.0,0.0,60.0,1,1,0,0,...,0,0,0,6,90.0,57.00,66.15,0.0,0.0,46993.950000
7,2,24,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0.0,0.00,0.00,0.0,0.0,187898.610000
9,2,23,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,0,30.0,3.87,21.30,0.0,0.0,73649.730000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151831,2,23,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,6,0.0,0.00,0.00,0.0,0.0,40243.200000
151832,2,26,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,0,3.0,1.23,2.40,0.0,0.0,146961.300000
151833,2,24,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,0,90.0,29.04,69.69,0.0,0.0,167299.770000
151834,2,40,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,0,3.0,1.89,2.64,0.0,0.0,117310.979016
151837,2,23,0.0,0.0,0.0,0.0,1,1,0,0,...,0,0,0,0,90.0,75.45,85.14,0.0,0.0,117310.979016